$v-app-loading-text: "Loading...";
$v-background-color: #fafafa;
$v-app-background-color: #fff;
$v-panel-background-color: #fff;
$v-font-family: "Source Sans Pro";
$v-font-size: 20px;
$v-font-color: #37404E;
$v-font-weight: 400;

@import "../valo/styles.scss";

@mixin pem {
	@include valo;
}